﻿@model IEnumerable<WebApplication2.Models.Post>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<form action="/post/addpost" method="post">
    <input type="text" name="Title" />
    <input type="text" name="Description" />
    <input type="submit" value="Submit" />

</form>
@foreach (var item in Model)
{
    <h4>Id: @item.Id</h4>
    <h4>Title: @item.Title</h4>
    <h4>Description: @item.Description</h4>
}